
<div id="body">
    <ul id="contacts"></ul>
</div>
<form id="saveVehicleForm" method ="post">
<h3>Create new vehicle</h3>
<p>
    <label for="vehicleId">Vehicle ID:</label>
    <input type="text" name="Id"/>
</p>
<p>
    <label for="licensePlate">License Plate:</label>
    <input type="text" name="LicensePlate" />
</p>
<p>
    <label for="vehicleManufacturer">Manufacturer:</label>
    <input type="text" name="VehicleManufacturer" />
</p>
<p>
    <label for="vehicleType">Vehicle Type:</label>
    <input type="text" name="VehicleType" />
</p>
<p>
    <label for="fuelType">Type of Fuel:</label>
    <input type="text" name="FuelType" />
</p>
<input type="button" id="saveVehicle" value="save" />
</form>

@section scripts{
    <script type="text/javascript">

        $(function () {
            $.getJSON('/api/vehicle', function (contactsJsonPayload) {
                $(contactsJsonPayload).each(function (i, item) {
                    $('#contacts').append('<li>' + item.Id + '\n' + item.LicensePlate + '\n' + item.VehicleManufacturer + '</li>');
                });
            });
        });

        $('#saveVehicle').click(function() {
            $.post("api/vehicle", $("#saveVehicleForm").serialize(),
                function(value)
                {x
                    $('#contacts').append('<li>' + value.Id + '\n' + value.LicensePlate + '\n' + value.VehicleManufacturer + '\n' + value.VehicleType + '\n' + value.FuelType + '</li>');
                },
                "json"), location.reload();

        });
    </script>
}
